@model MVCPhotoGallery.Models.Photo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Photo</h2>

@using (Html.BeginForm("Delete", "Photo", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    
    <img src="@Model.Path" class="img-responsive" style="width:40%; height:300px; min-width:200px;" />
        <div class="form-group">
            @Html.LabelFor(m => m.Title, new { @class = "control-label col-sm-4" })
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.AlbumId, new { @class = "control-label col-sm-4" })
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.Album.Name, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-4">
                @Html.ActionLink("Cancel", "Details", "Photo", new {@id = Model.Id }, new { @class = "btn btn-default" })
                <input type="submit" value="Delete" class="btn btn-info" />
            </div>
        </div>
}


