@model MVCPhotoGallery.Models.PhotoViewModel
@{
    ViewBag.Title = "Upload";
}

<h2 class="text-center">@ViewBag.Title</h2>

<div class="jumbotron">
        @using (Html.BeginForm("Upload", "Photo", FormMethod.Post, new
        {
            @class = "form-horizontal",
            role = "form",
            enctype = "multipart/form-data"
        }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            
            <div class="form-group">
                <label for="image" class="col-sm-4 control-label">Image - jpg format</label>
                <div class="col-sm-4">
                    <input type="file" name="picture" />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Title, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.AlbumId, new { @class = "col-sm-4 control-label" })
                <div class="dropdown col-sm-4">
                    @Html.DropDownListFor(m => m.AlbumId,
                        new SelectList(Model.Albums, "Id", "Name"),
                        new { @class = "btn btn-info col-sm-12" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <input type="submit" class="btn btn-info" value="Upload" />
                </div>
            </div>
        }
</div>
  