@model List<MVCPhotoGallery.Models.Album>

@{
    ViewBag.Title = "List";
}

<h2 class="text-center">Albums</h2>
<div class="row">
    <table class="table table-bordered table-hover col-sm-12">
        <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var album in Model)
            {
                <tr>
                    <td>@album.Name</td>
                    <td>@album.Author.FullName</td>
                    <td>
                        @if (User.IsInRole("Admin") || album.IsAuthor(User.Identity.Name))
                        {
                            @Html.ActionLink("Edit", "Edit", "Album", new { @id = album.Id }, null) 
                            <span></span>
                            @Html.ActionLink("Delete", "Delete", "Album", new { @id = album.Id }, null)
                        }

                        @Html.ActionLink("View", "ListPhotos", "Home", new { @albumId = album.Id }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
